@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');

body {
    font-family: 'Sarabun', sans-serif;
}



.banner {
    /* background-color: lightblue; */
    background-image: url("../photos/genzbanneredited.jpeg");
    background-size: cover;
    height: 300px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.description {
    font-size: 26px;
}

.card {
    transition: all .1s ease-in-out;
}

.card:hover {
    transform: translate3d(0px, -7px, 0px);
}

#h1-id {
    font-weight: bold;
    font-family: Raleway, sans-serif;
}

#desc {
    text-align: center;
}

