.banner {
    /* background-color: lightblue; */
    background-image: url("../photos/pexel-resized.jpg");
    background-size: cover;
    height: 300px;
}

.vertical-center {
    display: flex;
    align-items: center;
}

.description {
    font-size: 26px;
}

.card {
    transition: all .1s ease-in-out;
}

.card:hover {
    transform: translate3d(0px, -7px, 0px);
}